In [123]:
import pandas as pd
from time import time

In [124]:
t =time()
df = pd.read_excel (r'C:\Users\GND\Desktop\labeled_words_single.xlsx')
df1= pd.DataFrame(data, columns = ['Word'])
df2= pd.DataFrame(data, columns = ['Word'])
df3= pd.DataFrame(data, columns = ['Word'])
print('Time to create dictionary: {} mins'.format(round((time() - t) / 60, 4)))

Time to create dictionary: 0.1466 mins

In [125]:
df.drop('Label',axis=1, inplace=True)

In [126]:
print(df)

                  Word
0               Corina
1             Casanova
2              İsviçre
3        Şansölyesidir
4              Federal
...                ...
151978  Topraktepe'nın
151979          Shuhei
151980          Terada
151981       Rigamonti
151982      Yarmolenko

[151983 rows x 1 columns]

In [127]:
df['Word'].str.len()

0          6.0
1          8.0
2          7.0
3         13.0
4          7.0
          ...
151978    14.0
151979     6.0
151980     6.0
151981     9.0
151982    10.0
Name: Word, Length: 151983, dtype: float64

In [128]:
df['Word'].str.isupper()

0         False
1         False
2         False
3         False
4         False
          ...
151978    False
151979    False
151980    False
151981    False
151982    False
Name: Word, Length: 151983, dtype: object

In [129]:
df.Word.str.istitle()

0          True
1          True
2          True
3          True
4          True
          ...
151978    False
151979     True
151980     True
151981     True
151982     True
Name: Word, Length: 151983, dtype: object

In [130]:
df1["Word"]=df["Word"].str.contains('1'or '2'or'3'or'4'or'5'or'6'or'7'or'8'or'9'or'0')
df1

         Word
0       False
1       False
2       False
3       False
4       False
...       ...
151978  False
151979  False
151980  False
151981  False
151982  False

[151983 rows x 1 columns]

In [131]:
df2["Word"]=df["Word"].str.isnumeric()
df2

         Word
0       False
1       False
2       False
3       False
4       False
...       ...
151978  False
151979  False
151980  False
151981  False
151982  False

[151983 rows x 1 columns]

In [132]:
df3= df1["Word"] | df2["Word"]
df3

0         False
1         False
2         False
3         False
4         False
          ...
151978    False
151979    False
151980    False
151981    False
151982    False
Name: Word, Length: 151983, dtype: bool

In [133]:
df.insert(1, "Length",df['Word'].str.len(), True) 
df.insert(2, "All Capital",df['Word'].str.isupper(), True)
df.insert(3, "Contains Number",df3, True)
df.insert(4, "Start Capital", df.Word.str.istitle(), True)
df

                  Word  Length All Capital  Contains Number Start Capital
0               Corina     6.0       False            False          True
1             Casanova     8.0       False            False          True
2              İsviçre     7.0       False            False          True
3        Şansölyesidir    13.0       False            False          True
4              Federal     7.0       False            False          True
...                ...     ...         ...              ...           ...
151978  Topraktepe'nın    14.0       False            False         False
151979          Shuhei     6.0       False            False          True
151980          Terada     6.0       False            False          True
151981       Rigamonti     9.0       False            False          True
151982      Yarmolenko    10.0       False            False          True

[151983 rows x 5 columns]

In [134]:
df.to_excel(r'C:\Users\GND\Desktop\features.xlsx', index = False)