In [5]:
import sys
from time import time
import pandas as pd

In [ ]:
def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString)

t = time()

filtered = pd.DataFrame()
    
# Read labeled words
df = pd.read_excel('data/labeled_words_single_v3.xlsx')

counter = 0
# Read Excel file and fill the dictionary
for row in df.index:
    word = str(df['Word'][row])
    label = df['Label'][row]
    
    # if first letter is not uppercase, it can not be Location or Person
    if not word[0].isupper() and ( label == 'Location' or label == 'Person' ):
        continue
        
    # if word contains number it cannot be location, person, person type or organization
    if hasNumbers(word) and (  label == 'Location' or label == 'Person' or label == 'PersonType' or label == 'Organization' ):
        continue
    
    filtered = df.append({
        'Word': word,
        'Label': label,
    }, ignore_index=True)
    
    counter += 1
    #if counter == 100:
    #    break
    sys.stdout.write('\r'+str(counter))

print('Time to filter words categories: {} mins'.format(round((time() - t) / 60, 2)))

5216

           Label            Word
0         Person          Corina
1         Person        Casanova
2       Location         İsviçre
3     PersonType   Şansölyesidir
4     PersonType          avukat
..           ...             ...
95  Organization            APEC
96      Location          Tayvan
97    PersonType           bakan
98      DateTime           Eylül
99      Location  Avustralya'nın

[100 rows x 2 columns]